:root {
  --red: #ff4324;
  --orange: #f0cea8;
  --white: #f6f6f6;
  --yellow: #fff78c;
  --purple: #ded8e0;
  --grey: #dbdbdb;
}

// text
.u-font-good-glyphs {
  font-family: 'Good Glyphs';
}
.u-font-ogg {
  font-family: 'Ogg', 'Times New Roman', Times, serif;
}
.u-italic {
  font-style: italic;
}
.u-underline {
  text-decoration: underline;
}
.u-text-img {
  height: 1em;
  width: 4em;
  object-fit: cover;
  transform: translateY(.1em);
}
.u-comfort {
  line-height: 1.4;
}
.u-extracomfort {
  line-height: 2;
}
.u-text-container {
  position: fixed;
  font-size: .8rem;
  text-align: justify;
}
.u-title {
  font-size: 4.5rem;
  font-weight: 300;
}

// animations
.u-rotate {
  animation: 5s linear infinite u-rotate;
}
@keyframes u-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.u-oscillate-x {
  animation: 4s ease-in-out infinite u-oscillate-x;
}
@keyframes u-oscillate-x {
  from {
    transform: translateX(-.2em);
  }
  50% {
    transform: translateX(.2em);
  }
  to {
    transform: translateX(-.2em);
  }
}
.u-appear-scaleup {
  animation-name: u-appear-scaleup;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes u-appear-scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .u-text-container {
    inset: 40vh 50vw 10vh 5vw !important;
  }
  .u-title {
    font-size: 3rem;
  }
}
