:root {
  --red: #ff4324;
  --orange: #f0cea8;
  --white: #f6f6f6;
}
.font-good-glyphs {
  font-family: 'Good Glyphs';
}
.font-ogg-roman {
  font-family: 'Ogg Roman', 'Times New Roman', Times, serif;
}
.font-ogg-italic {
  font-family: 'Ogg Italic', 'Times New Roman', Times, serif;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.text-img {
  height: 1em;
  width: 4em;
  object-fit: cover;
  transform: translateY(.1em);
}
