:root {
  --red: #ff4324;
  --orange: #f0cea8;
  --white: #f6f6f6;
}
.u-font-good-glyphs {
  font-family: 'Good Glyphs';
}
.u-font-ogg {
  font-family: 'Ogg', 'Times New Roman', Times, serif;
}
.u-italic {
  font-style: italic;
}
.u-underline {
  text-decoration: underline;
}
.u-text-img {
  height: 1em;
  width: 4em;
  object-fit: cover;
  transform: translateY(.1em);
}
.u-rotate {
  animation: 5s linear infinite rotate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.u-oscillate-x {
  animation: 4s ease-in-out infinite oscillate-x;
}
@keyframes oscillate-x {
  from {
    transform: translateX(-.2em);
  }
  50% {
    transform: translateX(.2em);
  }
  to {
    transform: translateX(-.2em);
  }
}
