* {
  box-sizing: border-box;
}
*::selection {
  background-color: var(--orange);
  color: white;
}
a {
  color: inherit;
  text-decoration: inherit;
}
html {
  font-size: 2.4vh;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--red);
}
hr {
  border: 1px solid var(--red);
}
